#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    padding-bottom: 10px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    position: relative;
}
.headerTitle{
    font-family: roboto;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
.badgeHeader{
    position: absolute;
    right: 0;
    bottom: 2px;
    font-family: kalam;
    font-size: 16px;
    font-weight: 600;
    color: rgb(4, 48, 4);
}

/* @media (max-width:768px) {
    .headerTitle{
        font-family: kalam;
    }
} */