.login {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%), url("https://assets.nflxext.com/ffe/siteui/vlv3/ac9aedf1-a687-4c5d-965c-2fc3eac84aea/ed2f162a-b9ef-43fd-8042-84978039a3ba/IN-en-20221206-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    object-fit: cover;
    height: 1200px;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    // justify-content: center;
    // align-items: center;

    .topbar {
        width: 100vw;
        background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);

    }

    .logo {

        color: white;
        color: orangered;
        text-align: left;
        font-size: 70px;
        margin-left: 50px;
        cursor: pointer;
        margin-right: 20px;
        font-family: 'Bebas Neue', cursive;

        &::first-letter {
            font-size: 100px;
        }
    }

    .card.movie {
        display: flex;
        flex-direction: column;
        background: transparent;
        color: white;
        width: 24vw;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin: auto;
        align-self: center;
        padding: 50px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;

        .title.movie {
            font-size: 40px;
            margin: 20px;
        }

        input.movie {
            margin: 10px 20px;
            padding: 20px;
            border-radius: 10px;
            background-color: rgb(51, 50, 50);
            color: rgb(25, 23, 23);
            border: none;
            font-weight: 500;
            font-size: 16px;
        }

        .buttonSubmit{
            // width: 100px;
            // height: 40px;
            margin: 30px 20px;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            background-color: orangered;
            color: white;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1px;
            cursor: pointer;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .help {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .wrapper {
                display: flex;
                align-items: center;
                justify-content: center;

                input {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
            }

            span {
                margin-right: 20px;
                color: rgb(95, 90, 90);
                cursor: pointer;
            }
        }

        .bottom {
            .first {
                display: flex;
                flex-direction: row;
                // justify-content: center;
                align-items: center;
                // align-items: center;
                margin-left: 20px;
                margin-top: 50px;

                h2 {
                    font-size: 16px;
                    color: rgb(95, 90, 90);

                }

                 .signUpmovie {
                    margin-left: 5px;
                    margin-top: 20px;
                    // position: absolute;
                    // display: flex;

                    &::first-letter {
                        font-size: 20px;
                    }
                }
            }

            .second {
                position: relative;
                margin-left: 20px;
                margin-top: 20px;
                margin-right: 60px;

                h3 {
                    color: rgb(95, 90, 90);
                    font-size: 12px;
                }

                span {
                    color: blue;
                    font-size: 12px;

                    &::first-letter {
                        font-size: 16px;
                    }

                    position: absolute;
                    font-weight: 400;
                    bottom: -2px;
                    left: 164px;
                    cursor: pointer;
                }

            }
        }

    }

    .footer {
        // background-color: var(--main-color);
        position: absolute;
        color: rgb(95, 90, 90);
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        padding-bottom: 30px;
        padding-left: 0px;
        padding-right: 300px;
        padding-top: 70px;

        h1 {
            font-size: 20px;
            margin-bottom: 20px;
            margin-left: 152px;
            font-weight: 300;
        }

        .info {
            display: flex;
            justify-content: space-around;

            ul {
                list-style: none;

                li {
                    margin: 20px;
                }

                .left {
                    flex: 1;
                    text-align: center;
                }

                #second {
                    flex: 1;
                }

                #third {
                    flex: 1;
                }

                .right {
                    flex: 1;
                    margin-right: 30px;
                }
            }


        }

        .select {
            color: gray;
            margin-left: 152px;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border: 1px solid gray;
            border-radius: 5px;
            width: 110px;
            cursor: pointer;

            select {
                margin: 0px 5px;
                border: none;
                background: transparent;
                color: gray;
                font-size: 16px;

                option {
                    background: transparent;
                    color: black;
                }
            }

            .options {
                color: white;
            }
        }

        h2 {
            margin-left: 152px;
            margin-top: 20px;

        }
        h3{
            margin-right: 250px;
        }
    }
}