.container.movies{
    display: flex;
    /* background-color: black; */
    background-color: whitesmoke;
    width: 100vw;
}
::-webkit-scrollbar{
    width: 0;
}
.left{
    flex:4 ;
    display: flex;
    /* justify-content: center; */
    /* background-color: orange; */
    align-items: center;
    /* overflow-y: scroll; */
    /* height: 700px; */
    /* align-items: center; */
    flex-direction: column;
    /* background-color: white; */
    padding: 0;
    justify-content: center;
    /* border-right: 1px solid gray; */
}
.articles{
    height: 700px;
    overflow-y: scroll;
    /* position: fixed; */
}
.articles::-webkit-scrollbar{
    width: 2px;
}
.articles::-webkit-scrollbar-track{
   background-color: #f1f1f1;
}
.articles::-webkit-scrollbar-thumb{
    /* background-color: rgb(179, 179, 179); */
    background-color: rgb(190, 185, 185);
    height: 20px;
}
.right{
    /* margin-top: 30px; */
    flex: 8;
    display: flex;
    justify-content: center;
    flex-direction: column;
   /* background-color: #f1f1f1; */

    /* align-items: center; */
}
.ad{
    position: absolute;
    right: 20px;
    
}

