.allContainer{
    display: flex;
    flex-direction: column;
    height: 700px;
    overflow-y: scroll;
}
.allContainer::-webkit-scrollbar{
    width: 2px;
}
.allContainer::-webkit-scrollbar-track{
   background-color: #f1f1f1;
}
.allContainer::-webkit-scrollbar-thumb{
    /* background-color: rgb(179, 179, 179); */
    background-color: rgb(190, 185, 185);
    height: 20px;
}