.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b0b0b;
    padding-bottom: 50px;
    
    .accordion{
        width: 55%;
        background-color: rgb(53, 51, 51);
        color: white;
        font-size: 30px;
        margin: 5px;
        

        .summary{
            color: white;
            border-bottom: 1px solid rgb(42, 40, 40);

            .icon{
                color: white;
            }
            margin: 5px;
        }
        .details{
            font-size: 30px;
        }

        

    }
    #text{
        color: white;
        margin-top: 60px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .input{
        border: none;
        margin-top: 20px;
        width: 50vw;
        display: flex;
        margin-bottom: 50px;
        input{
            border-radius: 5px 0px 0px 5px;
            width: 70%;
            padding: 20px;
            border: none;
            font-size: 20px;
            background-color: whitesmoke;
            
        }
        
        .registerButton{
            border-radius: 0px 5px 5px 0px;
            padding: 16px;
            width: 30%;
            font-size: 30px;
            background-color: red;
            color: white;
            border: none;
            
        }
    }
    
}