.list{
    color: white;
    width: 100%;
    margin-top: 10px;

    .listTitle{
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin-left: 50px;
    }

    .wrapper{
        position: relative;
        display: flex;
        justify-content: space-between;
        
        .container{
            display: flex;
            flex-direction: row;
            margin-left: 50px;
            width: max-content;
            position: relative;
            // transform: translateX(-100vw);
        }
        
        
        

        
        .arrow{
            position: absolute;
            color: white;
            width: 50px;
            height: 100%;
            cursor: pointer;
            background-color: rgb(22,22,22,0.5);
            z-index: 100;

            
            &.left{
                left: 10px;
            }

            &.right{
                right: 10px;
            }
        }

    }
}