.topbar{
    width: 100vw;
    display: flex;
    height: 70px;
    background-color: #1877f2;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
.topbarLeft{
    flex: 3;
    /* background-color: red; */
    /* text-align: left; */
}
.logo{
    font-size: 26px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    /* margin: 25px; */
    /* padding: 20px; */
    text-align: center;
}
.topbarContainer{
    flex: 5;
}
.topbarCenter{
    flex: 5;
    /* background-color: rgb(67, 27, 27); */
}
.searchBar{
    width: 100%;
    height: 30px;;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchInput{
    border: none;
    width: 80%;
}
.searchInput:focus{
    outline: none;
}
.topbarRight{
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.topbarLinks{
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: 600;
    /* justify-content: center; */
}
.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: white;
}
.topbarLink.special{
    /* font-size: 30px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    color: orangered;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}
.topbarLink.special::first-letter{
    font-size: 80px;
}
.topbarIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbarIconItem{
    color: white;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.topbarImg{
width: 46px;
height: 46px;
border-radius: 50%;
cursor: pointer;
object-fit: cover;
margin: 20px;
}